<h1> Health Care Location Solution</h1><br>

<select name="decision2">
<option selected>Health Equipments
<option>Hospital
<option>Health Care Center
<option>Children Hospital
</select>

<form action="pagina_a_ser_desenvolvida"><br>
Your location: <br><input type="text" name="The address you're in" value=""><br><br>
<input type="submit" value="Find the closest equipments"><br><br>
<input type="submit" value="Routes suggestion">
</form>
